# Markdownlint - markdown linting
name: Markdownlint
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"
